*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container .title{
    font-size: 2.5rem;
    margin: 2rem 0;
    text-shadow: 0 .3rem 0.5rem, rgba(0, 0, 0, 0.5);
    text-align: center;
    color: 000;
    text-transform: capitalize;
}
.container .video-all{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container .video-all .video{
    height: 15rem; width: 16rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;
}
.container .video-all .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}
.container .video-all .video video:hover{
    transition: 0.2s linear;
    transform: scale(1.3);
}
.container .video-all .video .active{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: auto; width: 80%;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.container .video-all .video .active:hover{
    transition: none;
    transform: scale(1) translate(-50%, -50%);
}